.civil{
  height: 10rem;
  background-color: red;
  margin: 0;

}
body{
  margin: 0;
}
.title{
  margin-top: 0;
  padding-left: 1rem;
padding-top: 1rem;
display: inline-block;
}
.logo{
  height: 7rem;
  width: 7rem;
  border-radius: 69%;

}
